# Kommo
KOMMO_BASE_URL=https://genterrh.kommo.com
KOMMO_ACCESS_TOKEN=seu_token_aqui
KOMMO_DRIVE_URL=https://drive-c.kommo.com

# DB
DB_CONNECTION=https://seu-projeto.supabase.co
DB_KEY=sua-chave-aqui

# App
PORT=3000
NODE_ENV=development
