# Kommo
KOMMO_BASE_URL=https://genterrh.kommo.com
KOMMO_ACCESS_TOKEN=seu_token_aqui
KOMMO_DRIVE_URL=https://drive-c.kommo.com

# DB
DB_CONNECTION=conection
DB_KEY=sua-chave-aqui

# App
PORT=3000
NODE_ENV=development


#JWT
JWT_SECRET=secred_jwt
JWT_EXPIRES_IN=1d